@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    background-color: #F4F7F7;
    padding: 0;
    margin: 5% 10%;
    color: #343434;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

header img {
    width: 400px;
}

h3, h2 {
    color: #002D53;
}

.card {
    background-color: white;
    padding: 20px 20px 30px 20px;
    border-radius: 10px;
    border: 1px solid rgb(231, 231, 231);
}

.analises {
    display: flex;
    gap: 40px;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 5px;
}